
@{
    ViewBag.Title = "Sair";
}

<h2>Saindo do sistema...</h2>

<hr />

<h3><i class="glyphicon glyphicon-off"></i>&nbsp;&nbsp;@ViewBag.Mensagem</h3>
<p>@ViewBag.Mensagem2</p>


<p style="margin-top:50px; text-align:left;">
    <a href="/Principal/Index" target="_self">
        <i class="glyphicon glyphicon-menu-left"></i>
        Voltar para a tela inicial
    </a>
</p>