
@{
    ViewBag.Title = "Index";
}

<h2>
    <i class="glyphicon glyphicon-cog"></i>&nbsp;
    Recursos internos
</h2>

<p>Aqui estão disponíveis os recursos disponíveis para usuários administrativos.</p>

<hr />