
@{
    ViewBag.Title = "Index";
}

<h2>
    <i class="glyphicon glyphicon-cog"></i>&nbsp;
    Recursos internos
</h2>

<p>Olá <strong>@ViewBag.Nome</strong>. Aqui estão alguns recursos disponíveis para usuários administrativos como você.</p>

<hr />

<p style="margin-top:30px;">
    Os recursos do sistema estão disponíveis através do menu superior da tela.
</p>